body {
    margin: 0;
    text-align: center;
}


/******Header******/
.header {

    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 10vh;
    background-color: #152235;
    color: #ffffff;
}

.header img{
    width: 50%;
}

/*******main*******/
.main {

}

.main .first {
    width: 90vw;
    margin: 5vw;
    border: solid 1px #eaeff2;
}

.main .first .image {
    position: relative;
}

.main .first .image .bottomLine{
    display: flex;

}

.main .first .image .date-block {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 25%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    text-align: left;
}

.main .first .image .date-block p{
    padding-left: 5%;
}

.main .first .image .rocket {
    position: absolute;
    height: 25%;
    width: 20%;
    background-color: #06ca55;
    right: 0;
    bottom: 0;

}

.main .first .image .rocket img {

    height: 50%;
    width: auto;
    margin: 25%;
}

.main .first .image img {
    width: 100%
}

.main .first .offer {
    padding: 0 10%;
}

main .first .stats {
    padding: 5%;
    background-color: #eaeff2;
    display: flex;
    justify-content: space-between;
}

.main .first .stats .statItem {
    display: flex;
    align-items: center;

}

.main .first .stats .statItem span {
    padding: 10px;
}